<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{>navigationBar}}</h2>
    <h2>Country Name : {{countryName}}</h2>
    <h2>longtitude : {{longtitude}}</h2>
     <h2>latitude : {{latitude}}</h2>
      <h2>Current Weather : {{currentWeather}}</h2>
       <h2>temperature : {{temperature}}</h2>
</body>
</html>